body {
    background-color: #616161;
    font-family: 'Verdana', sans-serif;
    color: #000000;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #0000ff;
    font-size: 28px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #333333;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #bfbfbf;
    border-radius: 5px;
}

ol {
    margin-left: 40px;
}

img {
    width: 60%;
    margin: 20px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: #ff0000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #cc0000;
}
